div{
    border: 1px solid black;
    height: 50px;
    width: 125px;
    margin: 0.15rem;
    border-radius: 35%;
    display: inline-block;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green
}

.yellow{
    background-color: yellow;
}